<!DOCTYPE html>
<html>

<head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= bootstrap_devise_error_messages! %>
    <%= stylesheet_link_tag 'devise_styles', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<style>
    @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
</style>

<body>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Login to your Account</h5>
                        <form class="form-signin">
                            <div class="form-label-group">
                                <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
                                <label for="inputEmail">Email address</label>
                            </div>
                            <div class="form-label-group">
                                <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control' %>
                                <label for="inputPassword">Password</label>
                            </div>
                            <%= f.submit  t('.sign_in'), class: 'btn btn-lg btn-light btn-block' %>
                            <%= render 'devise/shared/links' %>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<% end %>