<h1><%= @product.name%></h1>

<p><%= @product.description %></p>
<p><%= @product.price %></p>
<img src="<%= @product.image %>" height="auto" class="card-img-top" alt="...">

  <div>
    <%= form_with url: shopping_cart_items_path do |f| %>
      <%= hidden_field_tag 'product_id', @product.id  %>
        <%= f.select :size_id, options_for_select(@sizes)%>
        <%= f.select :color_id, options_for_select(@colors)%>
        <%= f.submit "Add Item to Cart"%>
      <% end %>
  </div>
<div>
  <h1><%= @product.reviews.any? ? 'Reviews' : 'No Reviews' %></h1>
  <%= form_for([@product, @review], remote: true) do |form| %>
    <%= form.text_field :comment %>
    <%= form.submit %>
  <% end %>
  <div class='review-list'>
    <%= render 'reviews/index', reviews: @reviews %>
  </div>
</div>